*{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul{
  list-style-type: none;
}

li{
  line-height: 50px;
  margin-bottom: 10px;
}

ul#sortingOptions{
  display: inline;
}

ul#sortingOptions li{
  display: inline;
  font-size: 10pt;
  border-left: 1px solid darkgrey;
  padding: 0px 5px; 
}

ul#sortingOptions li a{
  text-decoration:none;
  color: darkgrey;
}

ul#sortingOptions li.active a{
  color: grey;
}

ul#sortingOptions li.first{
  border-left: none;
}

#footer{
  margin-top: 20px;
  color: darkgrey;
  font-size: 10pt;
}

.left{
  float: left;
  margin-right: 5px;
}

.clear{
  clear: both;
}

.details{
  font-size: 10pt;
  color: darkgrey;
}

.rating{
  width: 50px;
  height: 50px;
  background-color: lightgrey;
  color: white;
  border-radius: 15px;
  padding-left: 12px;
  font-size: 20pt;
}

.rating.green{
  background-color: #4EB122;
}

.rating.yellow{
  background-color: #F5BE3D;
}

.rating.red{
  background-color: #FC1C12;
}