<ul id="sortingOptions">
  <li id="sortIMDB" class="first active"><a href="#">IMDB rating</a></li>
  <li id="sortAZ"><a href="#">Alphabetically</a></li>
  <li id="sortCalendar"><%= link_to "Calendar", calendar_path %></li>
</ul>

<ul id="filmList">
  <%= render @films %>
</ul>